<style>

    .mapSVG{
        align-items: center;
        justify-content: center;
        display: flex;
        baseline-shift: 100px
    }
    .state{
        stroke: #a9a9a9;
        stroke-width: 1;
    }
    .state:hover{
        fill-opacity:0.5;
    }
    #selected_state{
        margin: 0;
    }
    #tooltip {   
        position: absolute;           
        text-align: center;
        text-anchor: middle;
        padding: 20px;             
        margin: 10px;
        font: 12px sans-serif;        
        background: lightsteelblue;   
        border: 1px;      
        border-radius: 2px;           
        pointer-events: none;         
    }
    #tooltip h4{
        margin:0;
        font-size:14px;
    }
    #tooltip{
        background:rgba(0,0,0,0.9);
        border:1px solid grey;
        border-radius:5px;
        font-size:12px;
        width:auto;
        padding:4px;
        color:white;
        opacity:0;
    }
    #tooltip table{
        table-layout:fixed;
    }
    #tooltip tr td{
        padding:0;
        margin:0;
    }
    #tooltip tr td:nth-child(1){
        width:50px;
    }
    #tooltip tr td:nth-child(2){
        text-align:center;
    }
    .axis .domain {
        display: none;
    }
    .search {
        width: 25%;
    }
    a.deselect{
        margin-top: 25px;
        float: left;
        width: 20%;
        padding:0.3em 1.2em;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#FFFFFF;
        background-color:#3399FF;
        text-align:center;
        display: none;
        cursor: pointer;
        transition: all 0.2s;
    }
    a.deselect:hover{
        fill-opacity:0.5;
    }

</style>